
.container{
    width: 100%;
    max-width: 1300px;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-around;
    align-items: center;
    padding-bottom: 5%;
}
@media (max-width: 375px) {
    .container{
        padding-bottom: 15%;
    }
  }